# 聊天模型配置
CLOSEAI_API_KEY=your_closeai_api_key
CLOSEAI_BASE_URL=your_closeai_base_url

#  BGE-M3 Embedding 使用
SILICONFLOW_API_KEY=your_siliconflow_api_key
SILICONFLOW_BASE_URL=your_siliconflow_base_url
