# 第4章 / 第7章 / 第10章调用聊天模型使用
CLOSEAI_API_KEY=your_closeai_api_key
CLOSEAI_BASE_URL=your_closeai_base_url

# 第10章 BGE-M3 Embedding 使用
SILICONFLOW_API_KEY=your_siliconflow_api_key
SILICONFLOW_BASE_URL=your_siliconflow_base_url
